#TabsToolbar {
    -moz-window-dragging: no-drag !important;
}

#nav-bar:not([customizing="true"]):not([inFullscreen]) {
    min-height: 0px !important;
    max-height: 0px !important;
    margin-bottom: -1px !important;
    z-index: -1 !important;
}

#navigator-toolbox:hover:not([inFullscreen]) #nav-bar,
#navigator-toolbox:focus-within:not([inFullscreen]) #nav-bar {
    min-height: 40px !important;
    max-height: 40px !important;
    margin-bottom: -40px !important;
    z-index: 1 !important;
}

*|div#fullscr-toggler {
    display:none !important
}

#tabbrowser-tabs .tab-label-container {
    height: unset !important;
}

.tab-background {
    margin-block: 0 !important;
}

.tabbrowser-tab[fadein]:not([pinned]) {
    max-width: 300px !important;
    overflow: hidden;
}
