#!/usr/bin/env sh

source ~/.env

# https://wiki.archlinux.org/title/NVIDIA_Optimus#Use_NVIDIA_graphics_only
xrandr --setprovideroutputsource modesetting NVIDIA-0

# Forced to do this here instead of ~/.script/system/init since those exports must be in some primary scripts like .xprofile or .bashrc
if ! xrandr --query | grep -qP "^(DP.*1|HDMI.*1) connected"; then
	echo "detected external monitor"
	export GDK_SCALE=2
	export GDK_DPI_SCALE=0.5
fi

$HOME/.script/system/init
